$c26:#fbfbfb;
$c27: #fffafa;
$c19: #fff2de;
$c3: #f5dad0;
$c22: #d8e4da;
$c4: #b2d0c8;
$c20: #fc6;
$c2: #f1c3b2;
$c5: #e98e73;
$c10: #f8c687;
$c13: #fae298;
$c14: #e29470;
$c1: #856d68;
$c6: #7dcc93;
$c9: #4299ed;
$c15: #66a7d5;
$c17: #679895;
$c18: #45b29a;
$c21: #008080;
$c11: #005361;
$c12: #21364b;
$c8: #31355b;
$c23: #e47e55;
$c16: #fa6d68;
$c7: #f76160;
$c24: #ff6347;
$c25: #cd5c5c;
